# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
.ipynb_checkpoints/

# Data caches
.cache/
*.cache

# Virtual environments (muy recomendado)
venv/
.env/
.env*/

# OS files
.DS_Store
Thumbs.db

# Personal Scripts
MakeRequirements.sh